In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.1-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\python\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\python\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 1.2 MB/s eta 0:00:09
   -- ------------------------------------- 0.8/11.5 MB 1.2 MB/s eta 0:00:09
   --- ------------------------------------ 1.0/11.5 MB 1.2 MB/s eta 0:00:09
   ---- ----------------------------------- 1.3/11.5 MB 1.2 MB/s eta 0:00:09
   ---- ----------------------------------- 1.3/11.5 MB 1.2 MB/s eta 0:00:09
   ------ --------------------------------- 1.8/11.5 MB 1.2 MB/s eta 0:00:09
   ------ --------------------------------- 1.8/11.5 MB 1.2 MB/s eta 0:00:09
   ------- -------------------------------- 2.1/11.5 MB 1.2 MB/s eta 0:00:08
   -------- ------------------------------- 2.4/11.5 MB 1.2 MB/s eta 0:00:08
   --------- ------------------------------ 2.6/11.5 MB 1.2 MB/s eta 0:00:08
   ---------- ----------------------------- 2.9/11.5 MB 1.2 MB/s eta 0:00:08
   ---------- ----------------------------- 3.1/11.5 MB 1.2 MB/s eta 0:00:07
   ----------- ---------------------------- 3.4/11.5 MB 1.2 MB/s eta 0:00:07
   ------------ --------------------------- 3.7/11.5 MB 1.2 MB/s eta 0:00:07
   ------------- -------------------------- 3.9/11.5 MB 1.2 MB/s eta 0:00:07
   -------------- ------------------------- 4.2/11.5 MB 1.2 MB/s eta 0:00:07
   --------------- ------------------------ 4.5/11.5 MB 1.2 MB/s eta 0:00:06
   ---------------- ----------------------- 4.7/11.5 MB 1.2 MB/s eta 0:00:06
   ----------------- ---------------------- 5.0/11.5 MB 1.2 MB/s eta 0:00:06
   ------------------ --------------------- 5.2/11.5 MB 1.2 MB/s eta 0:00:06
   ------------------ --------------------- 5.2/11.5 MB 1.2 MB/s eta 0:00:06
   ------------------- -------------------- 5.5/11.5 MB 1.2 MB/s eta 0:00:06
   -------------------- ------------------- 5.8/11.5 MB 1.2 MB/s eta 0:00:05
   --------------------- ------------------ 6.0/11.5 MB 1.2 MB/s eta 0:00:05
   --------------------- ------------------ 6.3/11.5 MB 1.2 MB/s eta 0:00:05
   ---------------------- ----------------- 6.6/11.5 MB 1.2 MB/s eta 0:00:05
   ----------------------- ---------------- 6.8/11.5 MB 1.2 MB/s eta 0:00:04
   ------------------------ --------------- 7.1/11.5 MB 1.2 MB/s eta 0:00:04
   ------------------------- -------------- 7.3/11.5 MB 1.2 MB/s eta 0:00:04
   -------------------------- ------------- 7.6/11.5 MB 1.2 MB/s eta 0:00:04
   --------------------------- ------------ 7.9/11.5 MB 1.2 MB/s eta 0:00:04
   ---------------------------- ----------- 8.1/11.5 MB 1.2 MB/s eta 0:00:03
   ---------------------------- ----------- 8.1/11.5 MB 1.2 MB/s eta 0:00:03
   ----------------------------- ---------- 8.4/11.5 MB 1.2 MB/s eta 0:00:03
   ----------------------------- ---------- 8.4/11.5 MB 1.2 MB/s eta 0:00:03
   ------------------------------ --------- 8.7/11.5 MB 1.1 MB/s eta 0:00:03
   ------------------------------ --------- 8.7/11.5 MB 1.1 MB/s eta 0:00:03
   ------------------------------- -------- 8.9/11.5 MB 1.1 MB/s eta 0:00:03
   ------------------------------- -------- 8.9/11.5 MB 1.1 MB/s eta 0:00:03
   ------------------------------- -------- 8.9/11.5 MB 1.1 MB/s eta 0:00:03
   ------------------------------- -------- 9.2/11.5 MB 1.1 MB/s eta 0:00:03
   -------------------------------- ------- 9.4/11.5 MB 1.1 MB/s eta 0:00:02
   --------------------------------- ------ 9.7/11.5 MB 1.1 MB/s eta 0:00:02
   ---------------------------------- ----- 10.0/11.5 MB 1.1 MB/s eta 0:00:02
   ----------------------------------- ---- 10.2/11.5 MB 1.1 MB/s eta 0:00:02
   ------------------------------------ --- 10.5/11.5 MB 1.1 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 1.1 MB/s eta 0:00:00
Downloading numpy-2.2.1-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   - -------------------------------------- 0.5/12.6 MB 1.5 MB/s eta 0:00:08
   -- ------------------------------------- 0.8/12.6 MB 1.5 MB/s eta 0:00:08
   --- ------------------------------------ 1.0/12.6 MB 1.4 MB/s eta 0:00:09
   ---- ----------------------------------- 1.3/12.6 MB 1.3 MB/s eta 0:00:09
   ---- ----------------------------------- 1.3/12.6 MB 1.3 MB/s eta 0:00:09
   ----- ---------------------------------- 1.8/12.6 MB 1.3 MB/s eta 0:00:09
   ------ --------------------------------- 2.1/12.6 MB 1.3 MB/s eta 0:00:09
   ------ --------------------------------- 2.1/12.6 MB 1.3 MB/s eta 0:00:09
   ------- -------------------------------- 2.4/12.6 MB 1.2 MB/s eta 0:00:09
   -------- ------------------------------- 2.6/12.6 MB 1.3 MB/s eta 0:00:08
   --------- ------------------------------ 2.9/12.6 MB 1.3 MB/s eta 0:00:08
   --------- ------------------------------ 3.1/12.6 MB 1.2 MB/s eta 0:00:08
   ---------- ----------------------------- 3.4/12.6 MB 1.2 MB/s eta 0:00:08
   ----------- ---------------------------- 3.7/12.6 MB 1.2 MB/s eta 0:00:08
   ------------ --------------------------- 3.9/12.6 MB 1.2 MB/s eta 0:00:07
   ------------- -------------------------- 4.2/12.6 MB 1.2 MB/s eta 0:00:07
   -------------- ------------------------- 4.5/12.6 MB 1.2 MB/s eta 0:00:07
   -------------- ------------------------- 4.7/12.6 MB 1.2 MB/s eta 0:00:07
   --------------- ------------------------ 5.0/12.6 MB 1.2 MB/s eta 0:00:07
   ---------------- ----------------------- 5.2/12.6 MB 1.2 MB/s eta 0:00:06
   ----------------- ---------------------- 5.5/12.6 MB 1.2 MB/s eta 0:00:06
   ------------------ --------------------- 5.8/12.6 MB 1.2 MB/s eta 0:00:06
   ------------------- -------------------- 6.0/12.6 MB 1.2 MB/s eta 0:00:06
   ------------------- -------------------- 6.3/12.6 MB 1.2 MB/s eta 0:00:06
   ------------------- -------------------- 6.3/12.6 MB 1.2 MB/s eta 0:00:06
   -------------------- ------------------- 6.6/12.6 MB 1.2 MB/s eta 0:00:05
   --------------------- ------------------ 6.8/12.6 MB 1.2 MB/s eta 0:00:05
   ---------------------- ----------------- 7.1/12.6 MB 1.2 MB/s eta 0:00:05
   ----------------------- ---------------- 7.3/12.6 MB 1.2 MB/s eta 0:00:05
   ------------------------ --------------- 7.6/12.6 MB 1.2 MB/s eta 0:00:05
   ------------------------ --------------- 7.9/12.6 MB 1.2 MB/s eta 0:00:04
   ------------------------- -------------- 8.1/12.6 MB 1.2 MB/s eta 0:00:04
   -------------------------- ------------- 8.4/12.6 MB 1.2 MB/s eta 0:00:04
   --------------------------- ------------ 8.7/12.6 MB 1.2 MB/s eta 0:00:04
   ---------------------------- ----------- 8.9/12.6 MB 1.2 MB/s eta 0:00:04
   ----------------------------- ---------- 9.2/12.6 MB 1.2 MB/s eta 0:00:03
   ----------------------------- ---------- 9.4/12.6 MB 1.2 MB/s eta 0:00:03
   ------------------------------ --------- 9.7/12.6 MB 1.2 MB/s eta 0:00:03
   ------------------------------- -------- 10.0/12.6 MB 1.2 MB/s eta 0:00:03
   -------------------------------- ------- 10.2/12.6 MB 1.2 MB/s eta 0:00:02
   -------------------------------- ------- 10.2/12.6 MB 1.2 MB/s eta 0:00:02
   --------------------------------- ------ 10.5/12.6 MB 1.2 MB/s eta 0:00:02
   ---------------------------------- ----- 10.7/12.6 MB 1.2 MB/s eta 0:00:02
   ---------------------------------- ----- 11.0/12.6 MB 1.2 MB/s eta 0:00:02
   ----------------------------------- ---- 11.3/12.6 MB 1.2 MB/s eta 0:00:02
   ------------------------------------ --- 11.5/12.6 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 11.8/12.6 MB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 12.1/12.6 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 1.2 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.1 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts f2py.exe and numpy-config.exe are installed in 'c:\Users\Python\AppData\Local\Programs\Python\Python313\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

s = pd.Series([0,3,10,11])
s

0     0
1     3
2    10
3    11
dtype: int64

In [4]:
import pandas as pd
data = [0,1,3,10,11]

s = pd.Series(data)
s

0     0
1     1
2     3
3    10
4    11
dtype: int64

In [3]:
s = pd.Series([0,3,10,11], ["a", "b","c","d"])
s

a     0
b     3
c    10
d    11
dtype: int64

In [5]:
data = [0,3,10,11]
index = ['a','b','c','d']
s = pd.Series(data,index)
s

a     0
b     3
c    10
d    11
dtype: int64

In [6]:
s.values

array([ 0,  3, 10, 11])

In [7]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
s[1]

C:\Users\Python\AppData\Local\Temp\ipykernel_3744\878419959.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[1]

np.int64(3)

In [9]:
s['b']

np.int64(3)

In [10]:
s[0:2]

a    0
b    3
dtype: int64

In [11]:
s['a':'b']

a    0
b    3
dtype: int64

In [12]:
s[0] = 99

C:\Users\Python\AppData\Local\Temp\ipykernel_3744\3728875438.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  s[0] = 99

In [13]:
s

a    99
b     3
c    10
d    11
dtype: int64

In [14]:
s['a'] = 19

In [15]:
s

a    19
b     3
c    10
d    11
dtype: int64

In [18]:
import numpy as np

arr = np.array([11,22,33,44])
s1 = pd.Series(arr)
s1

0    11
1    22
2    33
3    44
dtype: int64

In [19]:
randnums = np.random.randint(1,101,89)
randnums

array([ 63,  10, 100,  52,  10,  50,  74,  95,  41,  23,  57,  96,  60,
        64,  74,  80,  64,  29,  56,  62,  19,  91,  41,  49,  58,  93,
        33,  48,  20,  19,  76,  23,  46,  30,  84,  35,  79,  59,  44,
         9,  68,  57,  10,  44,  79,  78,  89,  14,  53,  41,  52,  52,
        98,  34,  55,  77,  59,  69,  53,  96,  18,  87,  24,  92,  93,
        61,  93,  64,  82,  53,  85,  82,  71,  38,  60,  43,  45,  67,
        78,  66,  12,  57,  36,   3,  20,  15,  19,  83,  78], dtype=int32)

In [21]:
s4 = pd.Series(randnums)
s4

0      63
1      10
2     100
3      52
4      10
     ...
84     20
85     15
86     19
87     83
88     78
Length: 89, dtype: int32

In [22]:
s4[s4>90]

2     100
7      95
11     96
21     91
25     93
52     98
59     96
63     92
64     93
66     93
dtype: int32

In [23]:
serd = pd.Series(['bijela','bijela','plava','zelena','zelena','crna'])
serd

0    bijela
1    bijela
2     plava
3    zelena
4    zelena
5      crna
dtype: object

In [24]:
serd.value_counts()

bijela    2
zelena    2
plava     1
crna      1
Name: count, dtype: int64

In [25]:
serd.unique()

array(['bijela', 'plava', 'zelena', 'crna'], dtype=object)

In [27]:
serd.isin(['plava'])

0    False
1    False
2     True
3    False
4    False
5    False
dtype: bool

In [29]:
s1[2] = -2
s = np.log(s1)
s

c:\Users\Python\AppData\Local\Programs\Python\Python313\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

0    2.397895
1    3.091042
2         NaN
3    3.784190
dtype: float64

In [30]:
s.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [31]:
s.notnull()

0     True
1     True
2    False
3     True
dtype: bool

In [32]:
mydict = ({'crvena': 2000, 'plava': 1000, 'žuta': 500, 'crna': 1000})
myseries = pd.Series(mydict)
myseries

crvena    2000
plava     1000
žuta       500
crna      1000
dtype: int64

In [34]:
data = {'boja': ['plava', 'zelena', 'bijela','crvena', 'žuta'],
        'predmet': ['lopta', 'olovka','papir','sveska','čaša'],
        'cijena': [1.2,1.0,0.1,0.9,1.7]}
myframe = pd.DataFrame(data)
myframe

     boja predmet  cijena
0   plava   lopta     1.2
1  zelena  olovka     1.0
2  bijela   papir     0.1
3  crvena  sveska     0.9
4    žuta    čaša     1.7

In [36]:
myframe = pd.DataFrame(data, columns=['predmet','cijena'])
myframe

  predmet  cijena
0   lopta     1.2
1  olovka     1.0
2   papir     0.1
3  sveska     0.9
4    čaša     1.7

In [37]:
myframe.columns

Index(['predmet', 'cijena'], dtype='object')

In [38]:
myframe.values

array([['lopta', 1.2],
       ['olovka', 1.0],
       ['papir', 0.1],
       ['sveska', 0.9],
       ['čaša', 1.7]], dtype=object)

In [39]:
myframe['predmet']

0     lopta
1    olovka
2     papir
3    sveska
4      čaša
Name: predmet, dtype: object

In [40]:
type(myframe['cijena'])

pandas.core.series.Series

In [41]:
myframe.loc[2]

predmet    papir
cijena       0.1
Name: 2, dtype: object

In [42]:
myframe.loc[0:2]

  predmet  cijena
0   lopta     1.2
1  olovka     1.0
2   papir     0.1

In [46]:
myframe.loc[[2,4]]

  predmet  cijena
2   papir     0.1
4    čaša     1.7

In [48]:
myframe['new']=12
myframe

  predmet  cijena  new
0   lopta     1.2   12
1  olovka     1.0   12
2   papir     0.1   12
3  sveska     0.9   12
4    čaša     1.7   12

In [50]:
myframe['new'][2] = 3.3
myframe

  predmet  cijena   new
0   lopta     1.2  12.0
1  olovka     1.0  12.0
2   papir     0.1   3.3
3  sveska     0.9  12.0
4    čaša     1.7  12.0

In [51]:
myframe.isin(['olovka'])

   predmet  cijena    new
0    False   False  False
1     True   False  False
2    False   False  False
3    False   False  False
4    False   False  False

In [52]:
del myframe['new']
myframe

  predmet  cijena
0   lopta     1.2
1  olovka     1.0
2   papir     0.1
3  sveska     0.9
4    čaša     1.7

In [54]:
myframe[myframe['cijena'] >= 1.0]

  predmet  cijena
0   lopta     1.2
1  olovka     1.0
4    čaša     1.7