In [14]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("apple_products.csv")

In [8]:
df

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,14,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,14,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,14,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,14,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [10]:
df['Sale Price'].idxmin()

52

In [56]:

int(df.loc[52]['Sale Price'])

df.loc[52]["Sale Price"]

np.float64(0.31509326654099995)

In [52]:
int(df.loc[df['Sale Price'].idxmax()]['Sale Price'])

df.loc[df["Sale Price"].idxmax()]["Sale Price"]

np.float64(1.4799373731)

In [24]:
df.drop([0], inplace= True)

,Product Name,Product URL,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
5,"APPLE iPhone 8 Plus (Silver, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,49900,49900,0,3431,356,MOBEXRGVQGYYP8FV,4.6,2 GB
...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,14,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,14,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,14,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,14,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [30]:
#df.drop(['Product URL'], axis=1, inplace= True)

In [29]:
df.drop(columns=["Product URL"], inplace= True)

,Product Name,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",Apple,49900,49900,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",Apple,84900,84900,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",Apple,84900,84900,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",Apple,77000,77000,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",Apple,77000,77000,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",Apple,29999,39900,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",Apple,46999,54900,14,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",Apple,46999,54900,14,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",Apple,46999,54900,14,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",Apple,46999,54900,14,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [37]:
df["Sale Price"] = df["Sale Price"].apply(lambda x : x * 0.0219)

df["Mrp"] = df["Mrp"].apply(lambda x : x * 0.0219)

Srednja Vrijednost

In [35]:
df['Sale Price'].mean()

df['Mrp'].mean()

np.float64(1928.4716129032252)

Funkcija Statiske - daje opsti opis tabele

In [36]:
df.describe()

,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Star Rating
count,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000
mean,38.404237,1928.471613,9.951613,22420.403226,1861.677419,4.575806
std,16.455633,760.561281,7.608079,33768.589550,2855.883830,0.059190
min,14.387820,873.810000,0.000000,542.000000,42.000000,4.500000
25%,23.932539,1202.310000,6.000000,740.000000,64.000000,4.500000
50%,36.402399,1749.810000,10.000000,2101.000000,180.000000,4.600000
75%,56.162331,2648.805000,14.000000,43470.000000,3331.000000,4.600000
max,67.577049,3282.810000,29.000000,95909.000000,8161.000000,4.700000

Sortiranje Vrijednosti

In [38]:
df.sort_values(by='Sale Price', ascending= False)

,Product Name,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
24,"APPLE iPhone 12 Pro (Silver, 512 GB)",Apple,1.479937,71.893539,6,542,42,MOBFWBYZ5UY6ZBVA,4.5,4 GB
41,"APPLE iPhone 12 Pro (Pacific Blue, 512 GB)",Apple,1.479937,71.893539,6,545,42,MOBFWBYZTHSXKMGW,4.5,4 GB
16,"APPLE iPhone 11 Pro Max (Midnight Green, 256 GB)",Apple,1.385406,63.260559,0,1078,101,MOBFKCTSCAAKGQV7,4.7,4 GB
14,"APPLE iPhone 11 Pro Max (Gold, 256 GB)",Apple,1.385406,63.260559,0,1078,101,MOBFKCTS7HCHSPFH,4.7,4 GB
31,"APPLE iPhone 12 Pro Max (Graphite, 256 GB)",Apple,1.374903,67.097439,6,580,45,MOBFWBYZEF6XQ5ZW,4.6,6 GB
...,...,...,...,...,...,...,...,...,...,...
53,"APPLE iPhone SE (Black, 128 GB)",Apple,0.367611,21.534489,22,95909,8161,MOBFWQ6BHUEVZPXD,4.5,2 GB
55,"APPLE iPhone SE (Red, 128 GB)",Apple,0.367611,21.534489,22,95909,8161,MOBFWQ6BJTVFKPEJ,4.5,2 GB
54,"APPLE iPhone SE (White, 128 GB)",Apple,0.367611,21.534489,22,95807,8154,MOBFWQ6BJEHMUUZY,4.5,2 GB
52,"APPLE iPhone SE (White, 64 GB)",Apple,0.315093,19.136439,24,95807,8154,MOBFWQ6BGWDVGF3E,4.5,2 GB
57,"APPLE iPhone SE (Black, 64 GB)",Apple,0.315093,19.136439,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB

In [41]:
df_corr = df.drop(columns=['Product Name', 'Brand'])

,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,0.524123,23.932539,0,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,0.891744,40.718889,0,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,0.891744,40.718889,0,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,0.808766,36.929970,0,11202,794,MOBEXRGVMZWUHCBA,4.5,2 GB
4,0.808766,36.929970,0,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...
57,0.315093,19.136439,24,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,0.493652,26.330589,14,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,0.493652,26.330589,14,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,0.493652,26.330589,14,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,0.493652,26.330589,14,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [42]:
df_corr = df.drop(columns=['Upc'])

In [50]:
df_corr['Ram'] = df_corr['Ram'].apply(lambda x : x[0])

,Product Name,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",Apple,0.524123,23.932539,0,3431,356,4.6,2
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",Apple,0.891744,40.718889,0,3431,356,4.6,2
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",Apple,0.891744,40.718889,0,3431,356,4.6,2
3,"APPLE iPhone 8 (Silver, 256 GB)",Apple,0.808766,36.929970,0,11202,794,4.5,2
4,"APPLE iPhone 8 (Gold, 256 GB)",Apple,0.808766,36.929970,0,11202,794,4.5,2
...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",Apple,0.315093,19.136439,24,95909,8161,4.5,4
58,"APPLE iPhone 11 (Purple, 64 GB)",Apple,0.493652,26.330589,14,43470,3331,4.6,4
59,"APPLE iPhone 11 (White, 64 GB)",Apple,0.493652,26.330589,14,43470,3331,4.6,4
60,"APPLE iPhone 11 (Black, 64 GB)",Apple,0.493652,26.330589,14,43470,3331,4.6,4
61,"APPLE iPhone 11 (Red, 64 GB)",Apple,0.493652,26.330589,14,43470,3331,4.6,4

In [59]:
df_corr.corr

<bound method DataFrame.corr of                                 Product Name  Brand  Sale Price        Mrp  \
0          APPLE iPhone 8 Plus (Gold, 64 GB)  Apple    0.524123  23.932539
1   APPLE iPhone 8 Plus (Space Grey, 256 GB)  Apple    0.891744  40.718889
2       APPLE iPhone 8 Plus (Silver, 256 GB)  Apple    0.891744  40.718889
3            APPLE iPhone 8 (Silver, 256 GB)  Apple    0.808766  36.929970
4              APPLE iPhone 8 (Gold, 256 GB)  Apple    0.808766  36.929970
..                                       ...    ...         ...        ...
57            APPLE iPhone SE (Black, 64 GB)  Apple    0.315093  19.136439
58           APPLE iPhone 11 (Purple, 64 GB)  Apple    0.493652  26.330589
59            APPLE iPhone 11 (White, 64 GB)  Apple    0.493652  26.330589
60            APPLE iPhone 11 (Black, 64 GB)  Apple    0.493652  26.330589
61              APPLE iPhone 11 (Red, 64 GB)  Apple    0.493652  26.330589

    Discount Percentage  Number Of Ratings  Number Of Reviews  Star Rating  \
0                     0               3431                356          4.6
1                     0               3431                356          4.6
2                     0               3431                356          4.6
3                     0              11202                794          4.5
4                     0              11202                794          4.5
..                  ...                ...                ...          ...
57                   24              95909               8161          4.5
58                   14              43470               3331          4.6
59                   14              43470               3331          4.6
60                   14              43470               3331          4.6
61                   14              43470               3331          4.6

    Ram
0     2
1     2
2     2
3     2
4     2
..  ...
57    4
58    4
59    4
60    4
61    4

[62 rows x 9 columns]>

In [60]:
df = pd.read_csv("apple_products.csv")
df.drop(['Product URL',"Upc"], axis = 1, inplace= True)

df1 = df.drop([0,1,2,3])
df_nan = df.add(df1)
df_nan

,Product Name,Brand,Sale Price,Mrp,Discount Percentage,Number Of Ratings,Number Of Reviews,Star Rating,Ram
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"APPLE iPhone 8 (Gold, 256 GB)APPLE iPhone 8 (G...",AppleApple,154000.0,154000.0,0.0,22404.0,1588.0,9.0,2 GB2 GB
...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)APPLE iPhone SE ...",AppleApple,59998.0,79800.0,48.0,191818.0,16322.0,9.0,4 GB4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)APPLE iPhone 11...",AppleApple,93998.0,109800.0,28.0,86940.0,6662.0,9.2,4 GB4 GB
59,"APPLE iPhone 11 (White, 64 GB)APPLE iPhone 11 ...",AppleApple,93998.0,109800.0,28.0,86940.0,6662.0,9.2,4 GB4 GB
60,"APPLE iPhone 11 (Black, 64 GB)APPLE iPhone 11 ...",AppleApple,93998.0,109800.0,28.0,86940.0,6662.0,9.2,4 GB4 GB
61,"APPLE iPhone 11 (Red, 64 GB)APPLE iPhone 11 (R...",AppleApple,93998.0,109800.0,28.0,86940.0,6662.0,9.2,4 GB4 GB

In [ ]:
df_nan.dropna(how = )