### ETL Pipeline Implementacija
1. Ekstrakcija podataka

Prvo učitavamo podatke iz CSV fajla koristeći pandas.

In [30]:
import pandas as pd

def extract_data(file_path):
    """
    Ekstraktuje podatke iz CSV fajla.
    
    :param file_path: Putanja do CSV fajla
    :return: DataFrame sa učitanim podacima
    """
    try:
        df = pd.read_csv("bmw_pricing_challenge.csv") # dodati kod
        return df
    except Exception as e:
        raise ValueError(f"Greška prilikom čitanja fajla: {e}")
        # dodati kod

# Učitavanje podataka
file_path = "bmw_pricing_challenge.csv"
df = extract_data(file_path)

# Prikaz prvih 5 redova
df.head()
print(df.head())

  maker_key model_key  mileage  engine_power registration_date    fuel  \
0       BMW       118   140411           100        2012-02-01  diesel
1       BMW        M4    13929           317        2016-04-01  petrol
2       BMW       320   183297           120        2012-04-01  diesel
3       BMW       420   128035           135        2014-07-01  diesel
4       BMW       425    97097           160        2014-12-01  diesel

  paint_color     car_type  feature_1  feature_2  feature_3  feature_4  \
0       black  convertible       True       True      False      False
1        grey  convertible       True       True      False      False
2       white  convertible      False      False      False      False
3         red  convertible       True       True      False      False
4      silver  convertible       True       True      False      False

   feature_5  feature_6  feature_7  feature_8  price     sold_at
0       True       True       True      False  11300  2018-01-01
1      False       True       True       True  69700  2018-02-01
2       True      False       True      False  10200  2018-02-01
3       True       True       True       True  25100  2018-02-01
4      False       True       True       True  33400  2018-04-01

#### 2. Transformacija podataka
a) Čišćenje podatak

Konvertujemo registration_date i sold_at u datetime format.

Uklanjamo nelogične vrijednosti (mileage < 0 i engine_power = 0).

In [31]:
def clean_data(df):
    """
    Čisti podatke uklanjanjem nelogičnih vrijednosti i konverzijom tipova.
    
    :param df: Ulazni DataFrame
    :return: Očišćeni DataFrame
    """
    df['registration_date'] = pd.to_datetime(df['registration_date'], errors='coerce')
    df['sold_at'] = pd.to_datetime(df['sold_at'], errors='coerce')
    
    # Uklanjamo negativne vrijednosti kilometraže i nulovanu snagu motora
    df['mileage']= df['mileage'] >= 0
    df['engine_power'] = df['engine_power'] > 0 
    # dodati kod
    # dodati kod
    
    return df

df = clean_data(df)
df.head()
print(df.head())

  maker_key model_key  mileage  engine_power registration_date    fuel  \
0       BMW       118     True          True        2012-02-01  diesel
1       BMW        M4     True          True        2016-04-01  petrol
2       BMW       320     True          True        2012-04-01  diesel
3       BMW       420     True          True        2014-07-01  diesel
4       BMW       425     True          True        2014-12-01  diesel

  paint_color     car_type  feature_1  feature_2  feature_3  feature_4  \
0       black  convertible       True       True      False      False
1        grey  convertible       True       True      False      False
2       white  convertible      False      False      False      False
3         red  convertible       True       True      False      False
4      silver  convertible       True       True      False      False

   feature_5  feature_6  feature_7  feature_8  price    sold_at
0       True       True       True      False  11300 2018-01-01
1      False       True       True       True  69700 2018-02-01
2       True      False       True      False  10200 2018-02-01
3       True       True       True       True  25100 2018-02-01
4      False       True       True       True  33400 2018-04-01

b) Filtriranje podataka

Zadržavamo samo automobile starije od 2010. godine.

In [32]:
def filter_data(df):
    """
    Filtrira podatke na osnovu godina registracije (zadržava automobile novije od 2010).
    
    :param df: Ulazni DataFrame
    :return: Filtrirani DataFrame
    """
    # dodati kod
    df['registration_date'] = df['registration_date'] > '2010-12-31'
    return df

df = filter_data(df)
df.head()
print(df.head())

  maker_key model_key  mileage  engine_power  registration_date    fuel  \
0       BMW       118     True          True               True  diesel
1       BMW        M4     True          True               True  petrol
2       BMW       320     True          True               True  diesel
3       BMW       420     True          True               True  diesel
4       BMW       425     True          True               True  diesel

  paint_color     car_type  feature_1  feature_2  feature_3  feature_4  \
0       black  convertible       True       True      False      False
1        grey  convertible       True       True      False      False
2       white  convertible      False      False      False      False
3         red  convertible       True       True      False      False
4      silver  convertible       True       True      False      False

   feature_5  feature_6  feature_7  feature_8  price    sold_at
0       True       True       True      False  11300 2018-01-01
1      False       True       True       True  69700 2018-02-01
2       True      False       True      False  10200 2018-02-01
3       True       True       True       True  25100 2018-02-01
4      False       True       True       True  33400 2018-04-01

c) Dodavanje novih kolona

Računamo starost automobila i prosječnu kilometražu godišnje.

In [33]:
def add_columns(df):
    """
    Dodaje nove kolone koje poboljšavaju analizu podataka.
    
    :param df: Ulazni DataFrame
    :return: DataFrame sa novim kolonama
    """
    df['car_age'] = pd.to_datetime(df['sold_at'], errors='coerce').dt.year - pd.to_datetime(df['registration_date'], errors='coerce').dt.year
    df['avg_mileage_per_year'] = df['mileage'] / df['car_age']
    df['car_age'] = df['car_age'] > 0

    # Uklanjamo automobile sa starošću 0 da izbjegnemo dijeljenje s nulom
    # dodati kod
    
    return df

df = add_columns(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   maker_key             4843 non-null   object
 1   model_key             4843 non-null   object
 2   mileage               4843 non-null   bool
 3   engine_power          4843 non-null   bool
 4   registration_date     4843 non-null   bool
 5   fuel                  4843 non-null   object
 6   paint_color           4843 non-null   object
 7   car_type              4843 non-null   object
 8   feature_1             4843 non-null   bool
 9   feature_2             4843 non-null   bool
 10  feature_3             4843 non-null   bool
 11  feature_4             4843 non-null   bool
 12  feature_5             4843 non-null   bool
 13  feature_6             4843 non-null   bool
 14  feature_7             4843 non-null   bool
 15  feature_8             4843 non-null   bool
 16  price                 4843 non-null   int64
 17  sold_at               4843 non-null   datetime64[ns]
 18  car_age               4843 non-null   bool
 19  avg_mileage_per_year  0 non-null      float64
dtypes: bool(12), datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 359.6+ KB

In [34]:
df

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at,car_age,avg_mileage_per_year
0,BMW,118,True,True,True,diesel,black,convertible,True,True,False,False,True,True,True,False,11300,2018-01-01,False,NaN
1,BMW,M4,True,True,True,petrol,grey,convertible,True,True,False,False,False,True,True,True,69700,2018-02-01,False,NaN
2,BMW,320,True,True,True,diesel,white,convertible,False,False,False,False,True,False,True,False,10200,2018-02-01,False,NaN
3,BMW,420,True,True,True,diesel,red,convertible,True,True,False,False,True,True,True,True,25100,2018-02-01,False,NaN
4,BMW,425,True,True,True,diesel,silver,convertible,True,True,False,False,False,True,True,True,33400,2018-04-01,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,BMW,218 Gran Tourer,True,True,True,diesel,black,van,False,True,False,False,False,False,True,False,14600,2018-08-01,False,NaN
4839,BMW,218 Active Tourer,True,True,True,diesel,grey,van,False,True,False,False,False,False,True,True,17500,2018-08-01,False,NaN
4840,BMW,218 Gran Tourer,True,True,True,diesel,grey,van,False,True,False,False,False,False,True,True,17000,2018-09-01,False,NaN
4841,BMW,218 Active Tourer,True,True,True,diesel,brown,van,True,True,False,False,False,False,True,True,22700,2018-09-01,False,NaN
4842,BMW,525,True,True,True,diesel,grey,van,True,True,False,False,True,False,True,True,15500,2018-09-01,False,NaN

d) Uklanjanje nepotrebnih kolona

Zadržavamo samo ključne kolone.

In [35]:
def remove_columns(df):
    """
    Uklanja nepotrebne kolone iz DataFrame-a.
    
    :param df: Ulazni DataFrame
    :return: Očišćeni DataFrame
    """
    columns_to_keep = ['maker_key', 'model_key', 'mileage', 'engine_power',
                       'registration_date', 'sold_at', 'car_age',
                       'avg_mileage_per_year', 'price']
    
    #df.drop(columns=columns_to_keep, inplace=True)
    #df = df.loc[:, df.columns.intersection(columns_to_keep)]
    
    return df[columns_to_keep]

df = remove_columns(df)

In [36]:
df

,maker_key,model_key,mileage,engine_power,registration_date,price,sold_at,car_age,avg_mileage_per_year
0,BMW,118,True,True,True,11300,2018-01-01,False,NaN
1,BMW,M4,True,True,True,69700,2018-02-01,False,NaN
2,BMW,320,True,True,True,10200,2018-02-01,False,NaN
3,BMW,420,True,True,True,25100,2018-02-01,False,NaN
4,BMW,425,True,True,True,33400,2018-04-01,False,NaN
...,...,...,...,...,...,...,...,...,...
4838,BMW,218 Gran Tourer,True,True,True,14600,2018-08-01,False,NaN
4839,BMW,218 Active Tourer,True,True,True,17500,2018-08-01,False,NaN
4840,BMW,218 Gran Tourer,True,True,True,17000,2018-09-01,False,NaN
4841,BMW,218 Active Tourer,True,True,True,22700,2018-09-01,False,NaN
4842,BMW,525,True,True,True,15500,2018-09-01,False,NaN

#### 3. Učitavanje podataka u Excel
Konačno, spremamo transformisane podatke u Excel fajl.

In [37]:
def load_data(df, output_file):
    """
    Sprema transformisane podatke u Excel fajl.
    
    :param df: DataFrame za spremanje.
    :param output_file: Putanja do izlaznog fajla.
    """
    try:
        df.to_csv(output_file, index=False)
        print(f"Podaci uspješno spremljeni u {output_file}")
        # dodati kod
        # dodati kod
    except Exception as e:
        raise ValueError(f"Greška prilikom spremanja fajla: {e}")
        # dodati kod

# Spremanje podataka
output_file = "bmw_transformed_data.csv"
load_data(df, output_file)

Podaci uspješno spremljeni u bmw_transformed_data.csv

#### Modularizacija ETL Pipeline-a sa pipe()

In [42]:
def etl_pipeline(file_path, output_file):
    # dodati kod
    
    (df
     .pipe(clean_data)
     .pipe(filter_data)
     .pipe(add_columns)
     .pipe(remove_columns)
     .pipe(load_data, output_file=output_file ))
     # dodati kod
     # dodati kod
     # dodati kod
     # dodati kod)

# Pokretanje pipeline-a
etl_pipeline("bmw_pricing_challenge.csv", "bmw_transformed_data.csv")

# dodati kod

Podaci uspješno spremljeni u bmw_transformed_data.csv