In [1]:
import pandas as pd

Učitati dataset

In [3]:
df = pd.read_csv("bmw_pricing_challenge.csv")
df

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at
0,BMW,118,140411,100,2012-02-01,diesel,black,convertible,True,True,False,False,True,True,True,False,11300,2018-01-01
1,BMW,M4,13929,317,2016-04-01,petrol,grey,convertible,True,True,False,False,False,True,True,True,69700,2018-02-01
2,BMW,320,183297,120,2012-04-01,diesel,white,convertible,False,False,False,False,True,False,True,False,10200,2018-02-01
3,BMW,420,128035,135,2014-07-01,diesel,red,convertible,True,True,False,False,True,True,True,True,25100,2018-02-01
4,BMW,425,97097,160,2014-12-01,diesel,silver,convertible,True,True,False,False,False,True,True,True,33400,2018-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,BMW,218 Gran Tourer,39743,110,2015-10-01,diesel,black,van,False,True,False,False,False,False,True,False,14600,2018-08-01
4839,BMW,218 Active Tourer,49832,100,2015-06-01,diesel,grey,van,False,True,False,False,False,False,True,True,17500,2018-08-01
4840,BMW,218 Gran Tourer,19633,110,2015-10-01,diesel,grey,van,False,True,False,False,False,False,True,True,17000,2018-09-01
4841,BMW,218 Active Tourer,27920,110,2016-04-01,diesel,brown,van,True,True,False,False,False,False,True,True,22700,2018-09-01
4842,BMW,525,195840,160,2013-01-01,diesel,grey,van,True,True,False,False,True,False,True,True,15500,2018-09-01

Prikazati prvih 5 redova dataseta

In [4]:
df.head()

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at
0,BMW,118,140411,100,2012-02-01,diesel,black,convertible,True,True,False,False,True,True,True,False,11300,2018-01-01
1,BMW,M4,13929,317,2016-04-01,petrol,grey,convertible,True,True,False,False,False,True,True,True,69700,2018-02-01
2,BMW,320,183297,120,2012-04-01,diesel,white,convertible,False,False,False,False,True,False,True,False,10200,2018-02-01
3,BMW,420,128035,135,2014-07-01,diesel,red,convertible,True,True,False,False,True,True,True,True,25100,2018-02-01
4,BMW,425,97097,160,2014-12-01,diesel,silver,convertible,True,True,False,False,False,True,True,True,33400,2018-04-01

Pomoću metode info() dobiti osnovne karaktersitike dataseta

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   maker_key          4843 non-null   object
 1   model_key          4843 non-null   object
 2   mileage            4843 non-null   int64
 3   engine_power       4843 non-null   int64
 4   registration_date  4843 non-null   object
 5   fuel               4843 non-null   object
 6   paint_color        4843 non-null   object
 7   car_type           4843 non-null   object
 8   feature_1          4843 non-null   bool
 9   feature_2          4843 non-null   bool
 10  feature_3          4843 non-null   bool
 11  feature_4          4843 non-null   bool
 12  feature_5          4843 non-null   bool
 13  feature_6          4843 non-null   bool
 14  feature_7          4843 non-null   bool
 15  feature_8          4843 non-null   bool
 16  price              4843 non-null   int64
 17  sold_at            4843 non-null   object
dtypes: bool(8), int64(3), object(7)
memory usage: 416.3+ KB

Naći jedinstvene vrijednosti za kolonu model_key

In [6]:
df['model_key'].unique()

array(['118', 'M4', '320', '420', '425', '335', '325', 'Z4', '120', '220',
       '650', '135', '218', '318', '430', 'M3', '330', '225', 'M235',
       '316', '435', '640', '640 Gran Coupé', '435 Gran Coupé', 'i8',
       '630', '430 Gran Coupé', '635', '520', '525', '530', '535',
       '320 Gran Turismo', '518', '116', '328', '523', 'X3', 'M550',
       '528', '325 Gran Turismo', '125', '318 Gran Turismo',
       '420 Gran Coupé', 'i3', '114', '520 Gran Turismo',
       '530 Gran Turismo', 'M135', '418 Gran Coupé', '330 Gran Turismo',
       '335 Gran Turismo', '730', '123', '535 Gran Turismo', '740', '750',
       'ActiveHybrid 5', '735', 'M5', 'X5', 'X1', 'X4', 'X6', 'X6 M',
       'X5 M', 'X5 M50', '218 Active Tourer', '218 Gran Tourer', '216',
       '220 Active Tourer', '216 Gran Tourer', '216 Active Tourer',
       '225 Active Tourer', '214 Gran Tourer'], dtype=object)

Za svaku vrijednost u model_key pogledati koliko se puta ponavljaju

In [8]:
df['model_key'].value_counts()

model_key
320                  752
520                  633
318                  569
X3                   438
116                  358
                    ...
M5                     1
220 Active Tourer      1
216                    1
225 Active Tourer      1
214 Gran Tourer        1
Name: count, Length: 75, dtype: int64

Odbaciti nepotrebne kolone

In [14]:
df.columns

Index(['maker_key', 'model_key', 'mileage', 'engine_power',
       'registration_date', 'fuel', 'paint_color', 'car_type', 'feature_1',
       'feature_2', 'feature_3', 'feature_4', 'feature_5', 'feature_6',
       'feature_7', 'feature_8', 'price', 'sold_at'],
      dtype='object')

In [16]:
df.drop(columns=['feature_1','feature_2','feature_3','feature_4','feature_5','feature_6','feature_7', 'feature_8'], inplace=True)

Pronaći vozilo sa najnižom cijenom

In [10]:
df['price'].idxmin()

565

In [17]:
df.loc[565]

maker_key                   BMW
model_key                   320
mileage                  179358
engine_power                120
registration_date    2013-06-01
fuel                     diesel
paint_color               black
car_type                 estate
price                   195.586
sold_at              2018-03-01
Name: 565, dtype: object

Pronaći vozilo sa najvećom cijenom

In [11]:
df['price'].idxmax()

4753

In [18]:
df.loc[4753]

maker_key                   BMW
model_key                    X3
mileage                   72515
engine_power                135
registration_date    2013-03-01
fuel                     diesel
paint_color                blue
car_type                    suv
price                 349121.01
sold_at              2018-08-01
Name: 4753, dtype: object

Napraviti funkciju koja će se primjeniti na kolonu price i konvertovati u BAM(KM)

In [12]:
def konverzija_KM(x):
    return x*1.95586

df['price'] = df['price'].apply(konverzija_KM)
df['price']

0        22101.218
1       136323.442
2        19949.772
3        49092.086
4        65325.724
           ...
4838     28555.556
4839     34227.550
4840     33249.620
4841     44398.022
4842     30315.830
Name: price, Length: 4843, dtype: float64

Naći osnovne statističke karakteristike dataseta

In [13]:
df.describe()

            mileage  engine_power          price
count  4.843000e+03    4843.00000    4843.000000
mean   1.409628e+05     128.98823   30957.512006
std    6.019674e+04      38.99336   18033.587957
min   -6.400000e+01       0.00000     195.586000
25%    1.029135e+05     100.00000   21123.288000
50%    1.410800e+05     120.00000   27773.212000
75%    1.751955e+05     135.00000   36378.996000
max    1.000376e+06     423.00000  349121.010000

Provjeriti da li postoje čudne vrijednosti u koloni mileage?

In [20]:
df['mileage'].idxmin()

2938

In [21]:
df.loc[2938]

maker_key                       BMW
model_key            640 Gran Coupé
mileage                 -102.993241
engine_power                    230
registration_date        2017-03-01
fuel                         diesel
paint_color                   black
car_type                      sedan
price                      146689.5
sold_at                  2018-04-01
Name: 2938, dtype: object

In [23]:
df[df['mileage']<0]

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,price,sold_at
2938,BMW,640 Gran Coupé,-102.993241,230,2017-03-01,diesel,black,sedan,146689.5,2018-04-01

In [24]:
df[df['engine_power']<=0]

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,price,sold_at
3765,BMW,X1,131589.958159,0,2014-10-01,diesel,white,suv,22883.562,2018-03-01

Ukoliko postoje nelogične/čudne vrijednosti, dropati taj red/redove

In [ ]:
df.drop([2938], inplace=True)

In [28]:
df

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,price,sold_at
0,BMW,118,225959.124557,100,2012-02-01,diesel,black,convertible,22101.218,2018-01-01
1,BMW,M4,22415.513357,317,2016-04-01,petrol,grey,convertible,136323.442,2018-02-01
2,BMW,320,294974.251690,120,2012-04-01,diesel,white,convertible,19949.772,2018-02-01
3,BMW,420,206042.806566,135,2014-07-01,diesel,red,convertible,49092.086,2018-02-01
4,BMW,425,156255.230126,160,2014-12-01,diesel,silver,convertible,65325.724,2018-04-01
...,...,...,...,...,...,...,...,...,...,...
4838,BMW,218 Gran Tourer,63957.193434,110,2015-10-01,diesel,black,van,28555.556,2018-08-01
4839,BMW,218 Active Tourer,80193.112327,100,2015-06-01,diesel,grey,van,34227.550,2018-08-01
4840,BMW,218 Gran Tourer,31594.785967,110,2015-10-01,diesel,grey,van,33249.620,2018-09-01
4841,BMW,218 Active Tourer,44930.801416,110,2016-04-01,diesel,brown,van,44398.022,2018-09-01
4842,BMW,525,315159.317670,160,2013-01-01,diesel,grey,van,30315.830,2018-09-01

In [29]:
df.drop([3765], inplace=True)

In [30]:
df['price'].idxmin()

np.int64(565)

In [31]:
df.drop([565], inplace=True)

Pretvoriti milje u kilometre u koloni mileage

In [19]:
def konverzija_miles(x):
    return x/0.6214

df['mileage'] = df['mileage'].apply(konverzija_miles)
df['mileage']

0       225959.124557
1        22415.513357
2       294974.251690
3       206042.806566
4       156255.230126
            ...
4838     63957.193434
4839     80193.112327
4840     31594.785967
4841     44930.801416
4842    315159.317670
Name: mileage, Length: 4843, dtype: float64

Naći korelaciju kolona koje su numeričkog tipa: mileage, engine_power i pricea

In [33]:
df_corr = df[['mileage','engine_power','price']]

In [35]:
df_corr.corr()

               mileage  engine_power     price
mileage       1.000000     -0.049631 -0.408486
engine_power -0.049631      1.000000  0.639264
price        -0.408486      0.639264  1.000000

Dropati sve NaN podatke, te vidjeti koliki je broj kolona i redova prije i poslije dropanja

In [39]:
df.shape

(4840, 10)

In [40]:
df.dropna()

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,price,sold_at
0,BMW,118,225959.124557,100,2012-02-01,diesel,black,convertible,22101.218,2018-01-01
1,BMW,M4,22415.513357,317,2016-04-01,petrol,grey,convertible,136323.442,2018-02-01
2,BMW,320,294974.251690,120,2012-04-01,diesel,white,convertible,19949.772,2018-02-01
3,BMW,420,206042.806566,135,2014-07-01,diesel,red,convertible,49092.086,2018-02-01
4,BMW,425,156255.230126,160,2014-12-01,diesel,silver,convertible,65325.724,2018-04-01
...,...,...,...,...,...,...,...,...,...,...
4838,BMW,218 Gran Tourer,63957.193434,110,2015-10-01,diesel,black,van,28555.556,2018-08-01
4839,BMW,218 Active Tourer,80193.112327,100,2015-06-01,diesel,grey,van,34227.550,2018-08-01
4840,BMW,218 Gran Tourer,31594.785967,110,2015-10-01,diesel,grey,van,33249.620,2018-09-01
4841,BMW,218 Active Tourer,44930.801416,110,2016-04-01,diesel,brown,van,44398.022,2018-09-01
4842,BMW,525,315159.317670,160,2013-01-01,diesel,grey,van,30315.830,2018-09-01

In [41]:
df.shape

(4840, 10)