In [31]:
import pandas as pd

Učitati dataset

In [32]:
df = pd.read_csv("bmw_pricing_challenge.csv")

Prikazati prvih 5 redova dataseta

In [33]:
print(df.head())

  maker_key model_key  mileage  engine_power registration_date    fuel  \
0       BMW       118   140411           100        2012-02-01  diesel
1       BMW        M4    13929           317        2016-04-01  petrol
2       BMW       320   183297           120        2012-04-01  diesel
3       BMW       420   128035           135        2014-07-01  diesel
4       BMW       425    97097           160        2014-12-01  diesel

  paint_color     car_type  feature_1  feature_2  feature_3  feature_4  \
0       black  convertible       True       True      False      False
1        grey  convertible       True       True      False      False
2       white  convertible      False      False      False      False
3         red  convertible       True       True      False      False
4      silver  convertible       True       True      False      False

   feature_5  feature_6  feature_7  feature_8  price     sold_at
0       True       True       True      False  11300  2018-01-01
1      False       True       True       True  69700  2018-02-01
2       True      False       True      False  10200  2018-02-01
3       True       True       True       True  25100  2018-02-01
4      False       True       True       True  33400  2018-04-01

Pomoću metode info() dobiti osnovne karaktersitike dataseta

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   maker_key          4843 non-null   object
 1   model_key          4843 non-null   object
 2   mileage            4843 non-null   int64
 3   engine_power       4843 non-null   int64
 4   registration_date  4843 non-null   object
 5   fuel               4843 non-null   object
 6   paint_color        4843 non-null   object
 7   car_type           4843 non-null   object
 8   feature_1          4843 non-null   bool
 9   feature_2          4843 non-null   bool
 10  feature_3          4843 non-null   bool
 11  feature_4          4843 non-null   bool
 12  feature_5          4843 non-null   bool
 13  feature_6          4843 non-null   bool
 14  feature_7          4843 non-null   bool
 15  feature_8          4843 non-null   bool
 16  price              4843 non-null   int64
 17  sold_at            4843 non-null   object
dtypes: bool(8), int64(3), object(7)
memory usage: 416.3+ KB

Naći jedinstvene vrijednosti za kolonu model_key

In [35]:
df['model_key'].unique()

array(['118', 'M4', '320', '420', '425', '335', '325', 'Z4', '120', '220',
       '650', '135', '218', '318', '430', 'M3', '330', '225', 'M235',
       '316', '435', '640', '640 Gran Coupé', '435 Gran Coupé', 'i8',
       '630', '430 Gran Coupé', '635', '520', '525', '530', '535',
       '320 Gran Turismo', '518', '116', '328', '523', 'X3', 'M550',
       '528', '325 Gran Turismo', '125', '318 Gran Turismo',
       '420 Gran Coupé', 'i3', '114', '520 Gran Turismo',
       '530 Gran Turismo', 'M135', '418 Gran Coupé', '330 Gran Turismo',
       '335 Gran Turismo', '730', '123', '535 Gran Turismo', '740', '750',
       'ActiveHybrid 5', '735', 'M5', 'X5', 'X1', 'X4', 'X6', 'X6 M',
       'X5 M', 'X5 M50', '218 Active Tourer', '218 Gran Tourer', '216',
       '220 Active Tourer', '216 Gran Tourer', '216 Active Tourer',
       '225 Active Tourer', '214 Gran Tourer'], dtype=object)

Za svaku vrijednost u model_key pogledati koliko se puta ponavljaju

In [36]:
df['model_key'].value_counts()

model_key
320                  752
520                  633
318                  569
X3                   438
116                  358
                    ...
M5                     1
220 Active Tourer      1
216                    1
225 Active Tourer      1
214 Gran Tourer        1
Name: count, Length: 75, dtype: int64

Odbaciti nepotrebne kolone

In [37]:
df.columns

Index(['maker_key', 'model_key', 'mileage', 'engine_power',
       'registration_date', 'fuel', 'paint_color', 'car_type', 'feature_1',
       'feature_2', 'feature_3', 'feature_4', 'feature_5', 'feature_6',
       'feature_7', 'feature_8', 'price', 'sold_at'],
      dtype='object')

In [27]:
df = df.drop(columns=['feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5', 'feature_6','feature_7', 'feature_8'], inplace=True)

AttributeError: 'NoneType' object has no attribute 'drop'

Pronaći vozilo sa najnižom cijenom

In [38]:
df["price"].idxmin()

565

Pronaći vozilo sa najvećom cijenom

In [39]:
df["price"].idxmax()

4753

Napraviti funkciju koja će se primjeniti na kolonu price i konvertovati u BAM(KM)

In [40]:
def konverzija(x):
    return x*1.9558

df["price"] = df["price"].apply(konverzija)

Naći osnovne statističke karakteristike dataseta

In [42]:
df.describe()

            mileage  engine_power          price
count  4.843000e+03    4843.00000    4843.000000
mean   1.409628e+05     128.98823   30956.562321
std    6.019674e+04      38.99336   18033.034740
min   -6.400000e+01       0.00000     195.580000
25%    1.029135e+05     100.00000   21122.640000
50%    1.410800e+05     120.00000   27772.360000
75%    1.751955e+05     135.00000   36377.880000
max    1.000376e+06     423.00000  349110.300000

Provjeriti da li postoje čudne vrijednosti u koloni mileage?

In [43]:
df["engine_power"].idxmin()

3765

In [46]:
df[df["mileage"]<0]

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at
2938,BMW,640 Gran Coupé,-64,230,2017-03-01,diesel,black,sedan,True,True,False,True,False,False,True,True,146685.0,2018-04-01

In [51]:
df[df["engine_power"]<1]

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at
3765,BMW,X1,81770,0,2014-10-01,diesel,white,suv,False,False,False,False,False,False,False,False,22882.86,2018-03-01

In [52]:
df[df["price"]<200]

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at
565,BMW,320,179358,120,2013-06-01,diesel,black,estate,False,True,False,False,False,False,True,True,195.58,2018-03-01
630,BMW,318,147558,105,2014-11-01,diesel,white,estate,False,True,False,False,False,False,False,True,195.58,2018-03-01
879,BMW,318,134156,105,2014-06-01,diesel,grey,estate,False,True,False,False,False,False,False,True,195.58,2018-04-01
1255,BMW,320,170381,135,2013-07-01,diesel,silver,estate,True,True,False,False,False,False,True,False,195.58,2018-05-01
1832,BMW,116,174524,85,2014-07-01,diesel,blue,hatchback,False,True,False,False,False,False,True,True,195.58,2018-03-01
2829,BMW,525,439060,105,1996-10-01,diesel,silver,sedan,False,False,True,False,False,False,True,False,195.58,2018-03-01
4356,BMW,X3,79685,190,2014-02-01,diesel,black,suv,False,False,False,False,False,False,False,True,195.58,2018-05-01

Ukoliko postoje nelogične/čudne vrijednosti, dropati taj red/redove

In [53]:
df.drop([3765, 2938, 565, 630, 879, 1255, 1832, 2829, 4356], inplace= True)

Pretvoriti milje u kilometre u koloni mileage

In [54]:
def miles_to_km(x):
    return x*1.609
df['mileage'] = df['mileage'].apply(miles_to_km)

Naći korelaciju kolona koje su numeričkog tipa: mileage, engine_power i pricea

In [57]:
df_corr = df[['mileage', 'engine_power', 'price']]

In [58]:
df_corr.corr()

               mileage  engine_power     price
mileage       1.000000     -0.048712 -0.408571
engine_power -0.048712      1.000000  0.640308
price        -0.408571      0.640308  1.000000

Dropati sve NaN podatke, te vidjeti koliki je broj kolona i redova prije i poslije dropanja

In [59]:
df.shape

(4834, 18)

In [60]:
df.dropna()

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at
0,BMW,118,225921.299,100,2012-02-01,diesel,black,convertible,True,True,False,False,True,True,True,False,22100.54,2018-01-01
1,BMW,M4,22411.761,317,2016-04-01,petrol,grey,convertible,True,True,False,False,False,True,True,True,136319.26,2018-02-01
2,BMW,320,294924.873,120,2012-04-01,diesel,white,convertible,False,False,False,False,True,False,True,False,19949.16,2018-02-01
3,BMW,420,206008.315,135,2014-07-01,diesel,red,convertible,True,True,False,False,True,True,True,True,49090.58,2018-02-01
4,BMW,425,156229.073,160,2014-12-01,diesel,silver,convertible,True,True,False,False,False,True,True,True,65323.72,2018-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,BMW,218 Gran Tourer,63946.487,110,2015-10-01,diesel,black,van,False,True,False,False,False,False,True,False,28554.68,2018-08-01
4839,BMW,218 Active Tourer,80179.688,100,2015-06-01,diesel,grey,van,False,True,False,False,False,False,True,True,34226.50,2018-08-01
4840,BMW,218 Gran Tourer,31589.497,110,2015-10-01,diesel,grey,van,False,True,False,False,False,False,True,True,33248.60,2018-09-01
4841,BMW,218 Active Tourer,44923.280,110,2016-04-01,diesel,brown,van,True,True,False,False,False,False,True,True,44396.66,2018-09-01
4842,BMW,525,315106.560,160,2013-01-01,diesel,grey,van,True,True,False,False,True,False,True,True,30314.90,2018-09-01