In [2]:
import pandas as pd

Učitati dataset

In [7]:
df = pd.read_csv("bmw_pricing_challenge.csv")

Prikazati prvih 5 redova dataseta

In [8]:
df.head()

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at
0,BMW,118,140411,100,2012-02-01,diesel,black,convertible,True,True,False,False,True,True,True,False,11300,2018-01-01
1,BMW,M4,13929,317,2016-04-01,petrol,grey,convertible,True,True,False,False,False,True,True,True,69700,2018-02-01
2,BMW,320,183297,120,2012-04-01,diesel,white,convertible,False,False,False,False,True,False,True,False,10200,2018-02-01
3,BMW,420,128035,135,2014-07-01,diesel,red,convertible,True,True,False,False,True,True,True,True,25100,2018-02-01
4,BMW,425,97097,160,2014-12-01,diesel,silver,convertible,True,True,False,False,False,True,True,True,33400,2018-04-01

Pomoću metode info() dobiti osnovne karaktersitike dataseta

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   maker_key          4843 non-null   object
 1   model_key          4843 non-null   object
 2   mileage            4843 non-null   int64
 3   engine_power       4843 non-null   int64
 4   registration_date  4843 non-null   object
 5   fuel               4843 non-null   object
 6   paint_color        4843 non-null   object
 7   car_type           4843 non-null   object
 8   feature_1          4843 non-null   bool
 9   feature_2          4843 non-null   bool
 10  feature_3          4843 non-null   bool
 11  feature_4          4843 non-null   bool
 12  feature_5          4843 non-null   bool
 13  feature_6          4843 non-null   bool
 14  feature_7          4843 non-null   bool
 15  feature_8          4843 non-null   bool
 16  price              4843 non-null   int64
 17  sold_at            4843 non-null   object
dtypes: bool(8), int64(3), object(7)
memory usage: 416.3+ KB

Naći jedinstvene vrijednosti za kolonu model_key

In [10]:
df["model_key"].unique()

array(['118', 'M4', '320', '420', '425', '335', '325', 'Z4', '120', '220',
       '650', '135', '218', '318', '430', 'M3', '330', '225', 'M235',
       '316', '435', '640', '640 Gran Coupé', '435 Gran Coupé', 'i8',
       '630', '430 Gran Coupé', '635', '520', '525', '530', '535',
       '320 Gran Turismo', '518', '116', '328', '523', 'X3', 'M550',
       '528', '325 Gran Turismo', '125', '318 Gran Turismo',
       '420 Gran Coupé', 'i3', '114', '520 Gran Turismo',
       '530 Gran Turismo', 'M135', '418 Gran Coupé', '330 Gran Turismo',
       '335 Gran Turismo', '730', '123', '535 Gran Turismo', '740', '750',
       'ActiveHybrid 5', '735', 'M5', 'X5', 'X1', 'X4', 'X6', 'X6 M',
       'X5 M', 'X5 M50', '218 Active Tourer', '218 Gran Tourer', '216',
       '220 Active Tourer', '216 Gran Tourer', '216 Active Tourer',
       '225 Active Tourer', '214 Gran Tourer'], dtype=object)

Za svaku vrijednost u model_key pogledati koliko se puta ponavljaju

In [11]:
df['model_key'].value_counts()

model_key
320                  752
520                  633
318                  569
X3                   438
116                  358
                    ...
M5                     1
220 Active Tourer      1
216                    1
225 Active Tourer      1
214 Gran Tourer        1
Name: count, Length: 75, dtype: int64

Odbaciti nepotrebne kolone

In [27]:
df.drop(columns= ['feature_1','feature_2','feature_3','feature_4','feature_5','feature_6','feature_7','feature_8'], inplace= True)

Pronaći vozilo sa najnižom cijenom

In [15]:
df.loc[df['price'].idxmin()]['maker_key':'model_key']

maker_key    BMW
model_key    320
Name: 565, dtype: object

Pronaći vozilo sa najvećom cijenom

In [16]:
df.loc[df['price'].idxmax()]['maker_key':'model_key']

maker_key    BMW
model_key     X3
Name: 4753, dtype: object

Napraviti funkciju koja će se primjeniti na kolonu price i konvertovati u BAM(KM)

In [29]:
df['price'] = df['price'].apply(lambda x : x * 1.95986)

Naći osnovne statističke karakteristike dataseta

In [18]:
df.describe()

            mileage  engine_power        price
count  4.843000e+03    4843.00000  4843.000000
mean   1.409628e+05     128.98823   346.634991
std    6.019674e+04      38.99336   201.924256
min   -6.400000e+01       0.00000     2.190000
25%    1.029135e+05     100.00000   236.520000
50%    1.410800e+05     120.00000   310.980000
75%    1.751955e+05     135.00000   407.340000
max    1.000376e+06     423.00000  3909.150000

Provjeriti da li postoje čudne vrijednosti u koloni mileage?

In [38]:
df.loc[df['mileage'] < 0]

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,price,sold_at
2938,BMW,640 Gran Coupé,-64,230,2017-03-01,diesel,black,sedan,3219.07005,2018-04-01

In [40]:
df.loc[df['engine_power'] == 0]

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,price,sold_at
3765,BMW,X1,81770,0,2014-10-01,diesel,white,suv,502.174928,2018-03-01

In [45]:
df.loc[df['price'] == 2.19]

Empty DataFrame
Columns: [maker_key, model_key, mileage, engine_power, registration_date, fuel, paint_color, car_type, price, sold_at]
Index: []

Ukoliko postoje nelogične/čudne vrijednosti, dropati taj red/redove

In [43]:
df.drop([2938,3765,], inplace= True )

Pretvoriti milje u kilometre u koloni mileage

In [48]:
df['mileage'] = df['mileage'].apply(lambda x : x * 1.609)

Naći korelaciju kolona koje su numeričkog tipa: mileage, engine_power i pricea

In [ ]:
df_corr = df[['mileage','engine_power','price']]

In [56]:
df_corr.corr()

               mileage  engine_power     price
mileage       1.000000     -0.829366 -0.999999
engine_power -0.829366      1.000000  0.828542
price        -0.999999      0.828542  1.000000

Dropati sve NaN podatke, te vidjeti koliki je broj kolona i redova prije i poslije dropanja

In [60]:
print(len(df.columns))
print(len(df.values))

#df.dropna(how='any')

df.shape

10
4841

(4841, 10)